[Unit]
Description=Monad Explorer Query Node
After=network.target monad-processor.service
Requires=monad-processor.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/monad-tool/monad-explorer
ExecStart=/root/.nvm/versions/node/v22.14.0/bin/npm run query-node:start
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=monad-query-node

[Install]
WantedBy=multi-user.target 